.aif-donor-space-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;

  @media (min-width: $container-md) {
    flex-direction: row;
    gap: 0;
  }
}
