.aif-actualities {
  max-width: $container-hg;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .postlist {
    max-width: none !important;
    margin: 0 !important;
    padding: 30px 0 64px 0 !important;

    .taxonomyArchive-filters {
      display: flex !important;
      flex-direction: column !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }

    .article-card.card-portrait {
      max-width: none !important;
    }
  }

  .wp-block-query-pagination {
    max-width: none !important;

    .page-numbers {
      margin: 0 auto !important;
    }
  }

  .postlist-categoriesContainer {
    width: 100% !important;
    margin-top: 24px;

    form {
      width: 100% !important;
      max-width: none !important;
      display: flex !important;
      flex-direction: column !important;
      margin: 0 !important;
      padding: 22px 24px !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }
  }
}

.aif-agenda {
  max-width: $container-hg;
  margin-top: 24px;

  .events {
    .event-filters {
      width: 100% !important;
      padding: 22px 24px !important;

      .event-filters-container {
        display: flex !important;
        flex-direction: column !important;
        gap: 16px !important;
        padding: 0 !important;
        max-width: none !important;
        margin: 0 !important;

        @media (min-width: calc($container-hg - 200px)) {
          flex-direction: row !important;
          gap: 0 !important;
        }

        .event-filters-form {
          margin-top: 0 !important;
          display: flex !important;
          flex-direction: column !important;

          @media (min-width: calc($container-hg - 200px)) {
            flex-direction: row !important;
          }

          & > span {
            text-align: center;
            padding: 10px 0;
          }

          & > button {
            padding: 12px 24px;
            line-height: 1rem;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            background-color: var(--wp--preset--color--primary);
            max-height: 40px;
            border: 1px solid transparent;

            &:hover {
              background-color: var(--wp--preset--color--primary-dark !important);
            }
          }
        }
      }
    }

    .events-list {
      width: 100% !important;

      @media (min-width: $container-lg) {
        padding: 0 !important;
      }

      .events-list-container {
        max-width: none !important;
        margin: 0 !important;
        padding: 30px 0 60px 0 !important;
      }

      .event-card.card-portrait {
        max-width: none !important;
      }
    }
  }
}
