.aif-actualities, .aif-petitions {
  max-width: $container-hg;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-title {
    font-family: var(--wp--preset--font-family--secondary);
    font-size: 45px;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 0;
  }

  .postlist {
    max-width: none !important;
    margin: 0 !important;
    padding: 30px 0 64px 0 !important;

    .taxonomyArchive-filters {
      display: flex !important;
      flex-direction: column !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }

    .article-card.card-portrait {
      max-width: none !important;
    }
  }

  .wp-block-query-pagination {
    max-width: none !important;

    .page-numbers {
      margin: 0 auto !important;
    }
  }

  .postlist-categoriesContainer {
    width: 100% !important;
    margin-top: 24px;

    form {
      width: 100% !important;
      max-width: none !important;
      display: flex !important;
      flex-direction: column !important;
      margin: 0 !important;
      padding: 22px 24px !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }
  }
}

.aif-agenda {
  max-width: $container-hg;

  &-title {
    font-family: var(--wp--preset--font-family--secondary);
    font-size: 45px;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 0;
  }

  .events {
    .event-filters {
      width: 100% !important;
      padding: 22px 24px !important;
      margin-top: 24px !important;

      .event-filters-container {
        display: flex !important;
        flex-direction: column !important;
        gap: 16px !important;
        padding: 0 !important;
        max-width: none !important;
        margin: 0 !important;

        @media (min-width: calc($container-hg - 200px)) {
          flex-direction: row !important;
          gap: 0 !important;
        }

        .event-filters-form {
          margin-top: 0 !important;
          display: flex !important;
          flex-direction: column !important;

          @media (min-width: calc($container-hg - 200px)) {
            flex-direction: row !important;
          }

          & > span {
            text-align: center;
            padding: 10px 0;
          }

          & > button {
            padding: 12px 24px;
            line-height: 1rem;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            background-color: var(--wp--preset--color--primary);
            max-height: 40px;
            border: 1px solid transparent;

            &:hover {
              background-color: var(--wp--preset--color--primary-dark !important);
            }
          }
        }
      }
    }

    .events-list {
      width: 100% !important;

      @media (min-width: $container-lg) {
        padding: 0 !important;
      }

      .events-list-container {
        max-width: none !important;
        margin: 0 !important;
        padding: 30px 0 60px 0 !important;
      }

      .event-card.card-portrait {
        max-width: none !important;
      }
    }
  }
}

body:has(.aif-militants-resources) .page-header,
body:has(.aif-democratic-life-resources) .page-header {
  display: none;
}

.aif-militants-resources,
.aif-democratic-life-resources {
  max-width: $container-hg;

  &-title {
    font-family: var(--wp--preset--font-family--secondary);
    font-size: 45px;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 0;
  }

  .document-list-filters {
    padding: 24px;
    background-color: var(--wp--preset--color--grey-light) !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;

    @media screen and (max-width: 1128px) {
      flex-direction: column !important;
      align-items: start !important;
      gap: 20px !important;
    }

    .taxonomyArchive-filters {
      width: auto !important;
      align-items: normal !important;

      .checkboxGroup {
        width: 400px !important;

        @media screen and (max-width: 1128px) {
          width: 100% !important;
        }
      }
    }
  }

  .document-list-search {
    display: flex;
    justify-content: flex-end;

    form {
      display: flex;
      flex-direction: row;
      gap: 8px;

      input[type='text'] {
        width: 200px;
      }

      button[type='submit'] {
        background: #000;
        padding: 12px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .document-card {
    padding: 16px 24px;
    background: #fff;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    --webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  }

  .document-card-left {
    display: flex;
    flex-direction: column;

    .document-chips {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .chip-category {
        cursor: text !important;
      }
    }

    p {
      margin-bottom: 12px !important;
    }
  }

  .category {
    width: fit-content;
  }

  .document-size {
    font-family: var(--wp--preset--font-family--secondary), sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--wp--preset--color--grey-dark);
  }

  .document-card-right {
    padding-right: 16px;
  }

  .search-text {
    position: relative;
    font-family: var(--wp--preset--font-family--secondary), sans-serif;

    .search-input {
      height: 60px;
    }

    .search-results {
      position: absolute;
      top: 60px;
      width: 100%;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          background: #fff;
          border: 1px solid #000;
          padding: 8px 12px;
        }
      }
    }
  }
}

.aif-trainings {
  max-width: $container-hg;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-title {
    font-family: var(--wp--preset--font-family--secondary);
    font-size: 45px;
    font-weight: bold;
    line-height: 51px;
    margin-bottom: 0;
  }

  .postlist {
    max-width: none !important;
    margin: 0 !important;
    padding: 30px 0 64px 0 !important;

    .taxonomyArchive-filters {
      display: flex !important;
      flex-direction: column !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }

    .training-card {
      max-width: none !important;
    }
  }

  .wp-block-query-pagination {
    max-width: none !important;

    .page-numbers {
      margin: 0 auto !important;
    }
  }

  .postlist-categoriesContainer {
    width: 100% !important;
    margin-top: 24px;

    form {
      width: 100% !important;
      max-width: none !important;
      display: flex !important;
      flex-direction: column !important;
      margin: 0 !important;
      padding: 22px 24px !important;

      @media (min-width: calc($container-hg - 200px)) {
        flex-direction: row !important;
      }
    }
  }
}
