includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1
    paths:
        - wp-content/themes/humanity-theme/includes/urgent-action
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
        - wp-content/themes/humanity-theme/includes/petitions/tables.php
        - wp-content/themes/humanity-theme/includes/salesforce/user.php
