// Global variables first
@import 'utils/variables/defaults';

// Grid settings
@import 'utils/variables/grid-settings';

// Sass Mq
// @see https://github.com/sass-mq/sass-mq
@import 'sass-mq';
@import 'utils/variables/breakpoints';

// Functions
@import 'utils/functions/maths';
@import 'utils/functions/palette';
@import 'utils/functions/strip-units';
@import 'utils/functions/flexy';

// Mixins
@import 'utils/mixins/clearfix';
@import 'utils/mixins/headings';
@import 'utils/mixins/cols';
@import 'utils/mixins/icon';
@import 'utils/mixins/placeholder';
@import 'utils/mixins/states';

// Helpers
@import 'utils/helpers/display';

// Base
@import 'base/type';
@import 'base/title';
@import 'base/jetpack-forms-editor';

// Layout
@import 'layout/page-hero';

// Components
@import 'components/grid/all';
@import 'components/add-item';
@import 'components/fluid';
@import 'components/form/checkbox-group';
@import 'components/icon';
@import 'components/news-filters/main';
@import 'components/trainings-filters/main';
@import 'components/form/input-editor';

// My Space
@import 'my-space/banner';
@import 'my-space/content';
@import 'my-space/default';
@import 'my-space/forgotten-password';
@import 'my-space/homepage';
@import 'my-space/layout';
@import 'my-space/list';
@import 'my-space/login';
@import 'my-space/sidebar-menu';
@import 'my-space/single';

// Blocks
@import 'blocks/action/main';
@import 'blocks/actions-homepage/main';
@import 'blocks/agenda-homepage/main';
@import 'blocks/articles-homepage/main';
@import 'blocks/button/main';
@import 'blocks/call-to-action/main';
@import 'blocks/card-image-text/main';
@import 'blocks/carousel/main';
@import 'blocks/carousel/editor';
@import 'blocks/change-their-history-toc/main';
@import 'blocks/chapo/main';
@import 'blocks/chip/main';
@import 'blocks/chip-category/main';
@import 'blocks/collapsable/main';
@import 'blocks/content-callout/main';
@import 'blocks/core-blocks/details';
@import 'blocks/core-blocks/html';
@import 'blocks/core-blocks/latest-posts';
@import 'blocks/core-blocks/menu';
@import 'blocks/core-blocks/paragraph';
@import 'blocks/core-blocks/post-template/main';
@import 'blocks/core-blocks/post-title/main';
@import 'blocks/core-blocks/post/main';
@import 'blocks/core-blocks/post/editor';
@import 'blocks/core-blocks/query-pagination/main';
@import 'blocks/core-blocks/query-pagination/editor';
@import 'blocks/core-blocks/rss';
@import 'blocks/core-blocks/social-links';
@import 'blocks/core-blocks/quote';
@import 'blocks/download-go-further/main';
@import 'blocks/get-informed/main';
@import 'blocks/hero-homepage/main';
@import 'blocks/image/main';
@import 'blocks/image/editor';
@import 'blocks/key-figure/main';
@import 'blocks/link-icon/main';
@import 'blocks/linklist/main';
@import 'blocks/mission-homepage/main';
@import 'blocks/petition-list/main';
@import 'blocks/petition-card-change-their-history/main';
@import 'blocks/postlist/main';
@import 'blocks/quote/editor';
@import 'blocks/read-also/main';
@import 'blocks/read-more/editor';
@import 'blocks/rubric-heading/main';
@import 'blocks/section/editor';
@import 'blocks/section-home/main';
@import 'blocks/slider/main';
@import 'blocks/slider/editor';
@import 'blocks/slider-changez-leur-histoire/main';
@import 'blocks/slider-changez-leur-histoire/editor';
@import 'blocks/tweet-action/tweet';
@import 'blocks/video/main';

// FSE Blocks
@import 'components/pop-in/main';
@import 'components/pop-in/editor';
@import 'layout/language-banner';
@import 'layout/header/main';
@import 'layout/header/editor';
@import 'layout/navigation/main';

// Page level
@import 'pages/archive';
@import 'pages/article';
@import 'pages/article/editor';
@import 'pages/search';
@import 'pages/single';

// Import
@import 'import/main';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.block-editor-block-patterns-list__item .block-editor-block-preview__container {
  display: none !important;
}

.components-panel__body > div {
  height: auto;
}
