.content-callout {
  margin-top: 2.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-top: .4rem solid var(--wp--preset--color--black);
  border-bottom: .4rem solid var(--wp--preset--color--black);
  text-align: center;

  &__title {
    font-size: 1.5rem;
  }

  &__text {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-top: 3.5rem;
    width: 31%;

    &__title {
      font-size: 1.85rem;
    }
  }
}
