.article-container {
  margin-top: var(--wp--preset--spacing--single);
  margin-bottom: var(--wp--preset--spacing--single);
}

.article-footer .article-meta {
  margin-bottom: var(--wp--preset--spacing--single);
}

.article-footer .article-metaActions .article-share {
  margin: 0;
}
