.changez-leur-histoire-slider-block {
  padding-top: 36px;
  width: 100%;
  overflow: visible;

  .changez-leur-histoire-slider-wrapper {
    position: relative;
    overflow: visible;

    .swiper {
      overflow: visible;
      padding: 0 36px 0 0;

      @media (min-width: 768px) {
        padding: 0 48px 0 0;
      }

      @media (min-width: 1024px) {
        padding: 0 64px 0 0;
      }

      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        height: auto;
        display: flex;
        width: 280px;

        @media (min-width: 768px) {
          width: 320px;
        }

        @media (min-width: 1024px) {
          width: 360px;
        }

        .petition-card {
          width: 100%;
          height: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

  .slider-nav {
    width: 52px;
    height: 52px;
    cursor: pointer;
    background-color: var(--wp--preset--color--grey-dark);
    color: var(--wp--preset--color--white);
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 274px;
    z-index: 10;
    border: none;

    &:hover {
      background-color: var(--wp--preset--color--grey);
    }

    &.prev {
      transform: translateY(-50%) rotate(180deg);
      left: 0;
    }

    &.next {
      transform: translateY(-50%);
      right: 0;
    }
  }
}
