%container {
  display: block;
  width: 100%;
  position: relative;
  padding: 0;
}

.container--small, .container--sm {
  @extend %container;
  max-width: $container-sm;
}

.container--medium, .container--md {
  @extend %container;
  max-width: $container-md;
}

.container--large, .container--lg {
  @extend %container;
  max-width: $container-lg;
}

.container--huge, .container--hg {
  @extend %container;
  max-width: $container-hg;
}

.container--full-width {
  @extend %container;
  max-width: none;
}

.mx-auto {
  margin: 0 auto;
}

.px-4 {
  padding: 0 1rem;
}
