.article-content > h2,
.article-content > * > h2,
.page-content > h2,
.page-content > * > h2,
.editor-visual-editor .wp-block-post-content > h2,
.article-content .wp-block-group > h2,
.page-content .wp-block-group > h2 {
  position: relative;
  padding-top: 15px;
  margin-top: 60px;

  &::before {
    content: '';
    position: absolute;
    background-color: var(--wp--preset--color--primary);
    height: 4px;
    top: 0;
    left: 0;
    width: 54px;
  }
}
