.card-image-text-block {
  position: relative;
  background-color: var(--wp--preset--color--white);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 24px;

  &.vertical {
    width: 100%;
    max-width: 300px;
    height: 380px;

    .card-image-text-category {
      z-index: 3;
      position: absolute;
      top: 12px;
      left: -8px;
      color: var(--wp--preset--color--black);
      background-color: var(--wp--preset--color--primary);
      text-align: center;
      font-family: var(--wp--preset--font-family--secondary);
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 12px;
      padding: 8px 12px;
      margin: 0;
    }

    .card-content-wrapper {
      overflow-y: hidden;
      height: 100%;
      width: 100%;
      position: relative;
    }

    .card-image-text-block-link {
      text-decoration: none;
      display: block;
      height: 100%;
      color: inherit;
    }

    .card-image-text-thumbnail-wrapper {
      background-color: var(--wp--preset--color--white);
      opacity: 1;
      height: 200px;
      width: 100%;
      z-index: 1;
      transition: opacity 0.1s ease-in-out 0.1s;

      .card-image-text-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-image-text-content-container {
      border-top: 4px solid var(--wp--preset--color--primary);
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      height: 180px;
      background-color: var(--wp--preset--color--white);
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 12px;
      transition: transform 0.2s ease-in-out;
      overflow: hidden;

      .card-image-text-content {
        position: relative;
        padding: 0 12px 12px 12px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .card-image-text-content-subtitle {
          color: var(--wp--preset--color--grey-dark);
          font-family: var(--wp--preset--font-family--secondary);
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          margin: 0;
          padding-bottom: 12px;
        }

        .card-image-text-content-title {
          color: var(--wp--preset--color--black);
          font-family: var(--wp--preset--font-family--secondary);
          font-size: 22px;
          font-weight: bold;
          line-height: 25px;
          margin: 0;
        }

        .card-image-text-content-text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          visibility: hidden;
          color: var(--wp--preset--color--black);
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 8;
          line-clamp: 8;
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
          margin: 0;
          padding-top: 12px;
          padding-bottom: 12px;
          opacity: 0;
          max-height: 0;
          transition: opacity 0.1s ease-in-out 0.1s;
        }

        .card-image-text-content-see-more {
          visibility: hidden;
          position: absolute;
          bottom: 20px;
          right: 12px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 12px;
          opacity: 0;
          transition: opacity 0.1s ease-in-out 0.1s;

          svg {
            width: 16px;
            height: 16px;
          }

          .card-image-text-content-see-more-label {
            color: var(--wp--preset--color--black);
            font-family: var(--wp--preset--font-family--secondary);
            font-size: 15px;
            font-weight: bold;
            line-height: 16px;
            margin: 0;
          }
        }
      }
    }

    &:hover {
      .card-image-text-thumbnail-wrapper {
        opacity: 0;
      }

      .card-image-text-content-container {
        padding-top: 45px;
        transform: translateY(-200px);
        height: 380px;

        .card-image-text-content-text {
          visibility: visible;
          opacity: 1;
          max-height: 190px;
        }

        .card-image-text-content-see-more {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.horizontal {
    height: 200px;
    width: 100%;
    max-width: 800px;
    display: flex;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--wp--preset--color--white);
    cursor: pointer;

    .card-image-text-category {
      z-index: 2;
      position: absolute;
      top: 12px;
      left: -8px;
      color: var(--wp--preset--color--black);
      background-color: var(--wp--preset--color--primary);
      text-align: center;
      font-family: var(--wp--preset--font-family--secondary);
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 12px;
      padding: 8px 12px;
      margin: 0;
    }

    .card-content-wrapper {
      overflow-y: hidden;
      height: 100%;
      width: 100%;
      position: relative;
    }

    .card-image-text-block-link {
      text-decoration: none;
      display: flex;
      height: 100%;
      width: 100%;
      color: inherit;
    }

    .card-image-text-thumbnail-wrapper {
      border-bottom: 4px solid var(--wp--preset--color--primary);
      background-color: var(--wp--preset--color--white);
      opacity: 1;
      width: 140px;
      height: 100%;
      flex-shrink: 0;
      z-index: 1;
      transition:
        opacity 0.2s ease-in-out,
        width 0.2s ease-in-out;

      .card-image-text-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-image-text-content-container {
      border-top: none;
      position: relative;
      flex-grow: 1;
      height: 100%;
      background-color: var(--wp--preset--color--white);
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 12px;
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      .card-image-text-content {
        position: relative;
        padding: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .card-image-text-content-subtitle {
          color: var(--wp--preset--color--grey-dark);
          font-family: var(--wp--preset--font-family--secondary);
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          margin: 0;
          padding-bottom: 8px;
        }

        .card-image-text-content-title {
          color: var(--wp--preset--color--black);
          font-family: var(--wp--preset--font-family--secondary);
          font-size: 22px;
          font-weight: bold;
          line-height: 25px;
          margin: 0;
        }

        .card-image-text-content-text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          visibility: hidden;
          color: var(--wp--preset--color--black);
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
          margin: 0;
          padding-top: 12px;
          opacity: 0;
          max-height: 0;
          transition:
            opacity 0.2s ease-in-out 0.1s,
            max-height 0.2s ease-in-out 0.1s;
        }

        .card-image-text-content-see-more {
          visibility: hidden;
          position: absolute;
          bottom: 0;
          right: 12px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 12px;
          opacity: 0;
          transition: opacity 0.1s ease-in-out 0.1s;

          svg {
            width: 16px;
            height: 16px;
          }

          .card-image-text-content-see-more-label {
            color: var(--wp--preset--color--black);
            font-family: var(--wp--preset--font-family--secondary);
            font-size: 15px;
            font-weight: bold;
            line-height: 16px;
            margin: 0;
          }
        }
      }
    }

    &:hover {
      .card-image-text-thumbnail-wrapper {
        opacity: 0;
        width: 0;
      }

      .card-image-text-content-container {
        width: 100%;
        padding-left: 12px;

        .card-image-text-content-text {
          position: relative;
          visibility: visible;
          opacity: 1;
          max-height: 110px;
        }

        .card-image-text-content-see-more {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
