.page-headerButtonWrapper {
  position: relative;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.page-headerButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--wp--preset--spacing--single);
  min-width: 60px;
  width: auto;
  height: 60px;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  font-size: inherit;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;

  @include mq(small) {
    min-width: 72px;
    height: 72px;
  }
}

.page-headerButton:active,
.page-headerButton:focus {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.page-headerButtonText {
  display: none;
  margin-right: 5px;

  .rtl {
    margin-right: 0;
    margin-left: 5px;
  }
}

.page-headerButton span {
  pointer-events: none;
}

.donate-button-desktop {
  display: none;

  @media (min-width: 1024px) {
    background-color: var(--wp--preset--color--pink);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all ease 0.3s;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: var(--wp--preset--color--light-pink);

      svg {
        transform: scale(1.2);
      }

      .icon-heart-full {
        fill: var(--wp--preset--color--white);
      }
    }

    .link {
      color: var(--wp--preset--color--white);
      height: 100%;
      width: 100%;
      padding: 0 14px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background-color: transparent;
      }

      svg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 20px;
        transition: all ease 0.3s;
      }

      .label {
        margin: 0;
        font-family: var(--wp--preset--font-family--secondary);
        white-space: nowrap;
      }
    }
  }
}

.donate-button-mobile {
  display: flex;
  background-color: var(--wp--preset--color--pink);
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  height: 100%;
  flex: 1;
  max-width: 150px;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }

  &:hover {
    background-color: var(--wp--preset--color--light-pink);
  }

  .link {
    color: var(--wp--preset--color--white);
    height: 100%;
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    &:hover {
      background-color: transparent;
    }

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    .label {
      margin: 0;
      font-family: var(--wp--preset--font-family--secondary);
      line-height: 1.1;
      font-size: 16px;

      @media (min-width: 360px) {
        font-size: 18px;
      }
    }
  }

  @media (max-width: 360px) {
    .link {
      padding: 0 8px;

      .label {
        line-height: 1.05;
      }
    }
  }
}
