.custom-button-block {
  width: 100%;
  display: flex;
  padding-bottom: 24px;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  .custom-button {
    padding: 0;
    text-decoration: none !important;
    display: flex;
    height: 100%;
    transition: all ease 0.4s;

    &:hover {
      background: transparent;

      .content .button-label {
        opacity: 0.9;
      }
    }

    .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      font-family: var(--wp--preset--font-family--secondary);
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      width: fit-content;

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      > * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: all ease 0.4s;
        border: 2px solid transparent;
        z-index: 0;
      }

      &:hover::before {
        transform: translate(-50%, -50%) scale(0.96);
        opacity: 0.7;
      }

      &.small {
        font-size: 15px;
        padding: 12px 24px;

        .icon-container {
          max-height: 16px;
          max-width: 16px;
          flex-shrink: 0;

          svg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }
        }
      }

      &.medium {
        font-size: 18px;
        padding: 14px 24px;

        .icon-container {
          max-height: 24px;
          max-width: 24px;
          flex-shrink: 0;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      &.large {
        font-size: 1.2rem;
        padding: 0.4rem 1.1rem;

        @media (min-width: 768px) {
          font-size: 1.5rem;
          padding: 0.7rem 1.8rem;
        }

        .icon-container {
          max-height: 24px;
          max-width: 24px;
          flex-shrink: 0;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      &.outline {
        &::before {
          background: transparent;
          border-color: currentColor;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      &.no-outline {
        padding-left: 0;

        &:hover {
          color: var(--wp--preset--color--grey-darkest);
        }
      }

      &.outline-yellow {
        color: var(--wp--preset--color--primary);

        &:hover {
          color: var(--wp--preset--color--primary-dark);
        }

        &::before {
          background: transparent;
          border-color: var(--wp--preset--color--primary);
        }

        &:hover::before {
          opacity: 1;
          background: rgba(255, 225, 0, 0.4);
        }
      }

      &.outline-black {
        color: var(--wp--preset--color--black);

        &:hover {
          color: var(--wp--preset--color--grey-darkest);
        }

        &::before {
          background: transparent;
          border-color: var(--wp--preset--color--black);
        }

        &:hover::before {
          opacity: 1;
          background: rgba(0, 0, 0, 0.2);
        }
      }

      &.bg-black {
        color: var(--wp--preset--color--primary);

        &::before {
          background-color: var(--wp--preset--color--black);
          border-color: var(--wp--preset--color--black);
        }

        &:hover::before {
          background-color: var(--wp--preset--color--grey-darkest);
          border-color: var(--wp--preset--color--grey-darkest);
        }
      }

      &.bg-yellow {
        color: var(--wp--preset--color--black);

        &::before {
          background-color: var(--wp--preset--color--primary);
          border-color: var(--wp--preset--color--primary);
        }

        &:hover::before {
          background-color: var(--wp--preset--color--primary-dark);
          border-color: var(--wp--preset--color--primary-dark);
          opacity: 0.9;
        }
      }
    }
  }
}
