.petition-card-change-their-history, .action-card-change-their-history {
  display: flex;
  background: var(--wp--preset--color--white);
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: var(--wp--preset--spacing--single);

  &:hover {
    .petition-thumbnail img {
      transform: scale(1.1);
    }
  }

  &.card-portrait {
    flex-direction: column;
    min-height: 380px;
    max-width: 350px;

    .petition-thumbnail {
      width: 100%;
      aspect-ratio: 16 / 10;
    }
  }

  &.card-landscape {
    flex-direction: row;
    min-height: 200px;

    .petition-thumbnail {
      width: 35%;
      max-width: 250px;
    }
  }

  & > .chip-category {
    position: absolute;
    left: -8px;
    top: 12px;
  }

  .petition-thumbnail {
    border-bottom: 8px solid var(--wp--preset--color--primary);
    overflow: hidden;
    min-height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.7s;
    }
  }

  .petition-content {
    padding: 22px 24px 42px 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 18px;
    background-color: var(--wp--preset--color--grey-lighter);
  }

  .petition-title {
    text-align: center;

    a {
      font-size: 29.5px;
      font-weight: bold;
      line-height: 33px;
      text-decoration: none;

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }

  .petition-subtitle {
    text-align: center;
    font-family: var(--wp--preset--font-family--secondary);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0;
  }

  .petition-infos {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .progress-bar-container {
      width: 100%;
      height: 10px;
      border: 2px solid var(--wp--preset--color--black);
      background-color: var(--wp--preset--color--white);
      overflow: hidden;
      position: relative;
    }

    .progress-bar {
      height: 100%;
      background-color: var(--wp--preset--color--black);
      transition: width 0.5s ease-in-out;
    }

    .supports {
      font-size: 14px;
      font-family: var(--wp--preset--font-family--secondary);
      margin: 0;
      line-height: 14px;
    }
  }

  .petition-sign-button {
    display: flex;
    flex-direction: column;

    .custom-button-block {
      padding: 24px 0 0 0;

      .icon-container {
        max-width: 24px !important;
        max-height: 24px !important;
      }
    }

    .button-label {
      text-transform: uppercase;
    }
  }

}
