/* We don't want an h2 to have this style if it follow a chapo*/
h2:first-child, :not(.is-style-chapo) + h2 {
    position: relative;
    padding-top: 15px;

    &:before {
        content: "";
        position: absolute;
        background-color: var(--wp--preset--color--primary);
        height: 4px;
        top: 0;
        left: 0;
        width: 54px;
    }
}