.alert-banner {
  background-color: var(--wp--preset--color--primary);
  padding: 30px 25px;
  position: relative;

  @media screen and (max-width: $container-md) {
    padding-top: 50px;
  }

  > .icon-cross {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--wp--preset--color--black);
    cursor: pointer;
  }

  > .alert-banner-body {
    max-width: $container-hg;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: var(--wp--preset--font-family--secondary);

    > .alert-banner-main {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: 30px;
      width: 100%;

      .alert-body-image {
        max-width: 195px;
        flex-shrink: 0;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .alert-body-text {
        display: flex;
        flex-direction: column;

        > .title {
          margin-bottom: 10px;
          line-height: 100%;
          font-size: 32px;
          font-weight: bold;
          letter-spacing: 0;
          text-transform: uppercase;
          text-wrap: balance;
        }

        > .description {
          font-size: 18px;
          letter-spacing: 0;
          font-family: var(--wp--preset--font-family--primary);
          text-transform: none;
        }
      }
    }

    > .cta {
      padding: 6px 30px;
      background: transparent;
      color: var(--wp--preset--color--black);
      border: 2px solid var(--wp--preset--color--black);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      transition: all ease 0.4s;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
        color: var(--wp--preset--color--grey-darkest);
      }
    }
  }

  &.hidden {
    display: none;
  }
}
