.video-block {
  width: 100%;
  max-width: $container-sm;
  margin: 0 auto 24px;

  .video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      z-index: 1;
      border-bottom: 6px solid var(--wp--preset--color--primary);
    }

    .warning {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      text-align: center;

      img {
        max-width: 75%;
        margin-bottom: 15px;
      }

      a {
        z-index: 3;
        cursor: pointer;
      }
    }
  }

  .video-title {
    width: 100%;
    border-left: solid 4px var(--wp--preset--color--primary);
    color: var(--wp--preset--color--grey-dark);
    font-family: var(--wp--preset--font-family--secondary);
    padding-left: 20px;
    margin-top: 10px;

    .video-label {
      color: var(--wp--preset--color--black);
    }
  }
}
