<!-- wp:group {"tagName":"main","className":"archive-chronicle"} -->
<main class="wp-block-group archive-chronicle">
    <!-- wp:amnesty-core/hero-large {"titleFirstPart": "La chronique","titleLastPart":"Archives","btnLinkText": "Abonnez-vous pour 3€/mois", "btnLink": "https://soutenir.amnesty.fr/b?cid=365&lang=fr_FR&reserved_originecode=null" } /-->
    <!-- wp:pattern {"slug":"amnesty/archive-loop-chronique"} /-->
    <!-- wp:group {"tagName":"section","className":"container has-gutter"} -->
    <section class="wp-block-group container has-gutter archive-chronicle__subscribe">
        <!-- wp:pattern {"slug":"amnesty/subscribe-to-the-chronicle-banner"} /-->
    </section>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
