<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-legs" data-page-type="legs">
    <!-- wp:pattern {"slug":"amnesty/page-hero"} /-->
    <!-- wp:pattern {"slug":"amnesty/page-menu"} /-->
    <!-- wp:group {"tagName":"div","className":"container page-container has-gutter","layout":{"type":"constrained"}} -->
    <div class="wp-block-group container page-container has-gutter">
        <div class="page-legs-layout">
            <div class="page-legs-main" data-page-group="main">
                <!-- wp:pattern {"slug":"amnesty/page-content"} /-->
            </div>
            <!-- wp:pattern {"slug":"amnesty/aside-legs-sticky"} /-->
        </div>
        <!-- wp:pattern {"slug":"amnesty/legs-form"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
