<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-register-activist">
    <!-- wp:pattern {"slug":"amnesty/page-hero-urgent"} /-->
    <!-- wp:group {"tagName":"div","className":"container page-container has-gutter","layout":{"type":"constrained"}} -->
    <div class="wp-block-group container page-container has-gutter">
        <div class="page-register-activist-layout">
            <div class="page-register-activist-main" data-page-group="main">
                <!-- wp:pattern {"slug":"amnesty/page-content"} /-->
            </div>
            <!-- wp:pattern {"slug":"amnesty/aside-register-activist-sticky"} /-->
        </div>
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
²
