<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-chronicle-promo">
    <!-- wp:amnesty-core/hero-large {"titleFirstPart":"La chronique","titleLastPart":"Le magazine des droits humains"} /-->

    <!-- wp:group {"tagName":"section","className":"container page-container has-gutter","layout":{"type":"constrained"}} -->
    <section class="wp-block-group container page-container has-gutter">
        <!-- wp:pattern {"slug":"amnesty/chapo"} /-->
        <!-- wp:amnesty/content-callout /-->
        <div class="page-chronicle-promo__video-container" style="'17.5%' 0 0 0;position:relative;"><iframe width="100%" height="100%" src="https://app.videas.fr/embed/80aaa708-066a-4352-b4c8-ee5a167160c3/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; fullscreen; gyroscope; picture-in-picture" style="position: absolute; top: 0; left: 0" referrerpolicy="unsafe-url"></iframe></div>
        <!-- wp:amnesty-core/button {"label":"Abonnez-vous pour 3€/mois","size":"medium","icon":"arrow-right","linkType":"external","externalUrl":"https://soutenir.amnesty.fr/b?cid=365&lang=fr_FR&reserved_originecode=null"} /-->
    </section>
    <!-- /wp:group -->

    <!-- wp:amnesty/latest-chronicle-promo /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
