<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-standard">
    <!-- wp:pattern {"slug":"amnesty/page-hero"} /-->
    <!-- wp:group {"tagName":"div","className":"container page-container has-gutter","layout":{"type":"constrained"}} -->
    <h2> Cette page sert à tester les formulaires jetpack de la page legs et de la page fondation</h2>
    <div class="page-legs">
        <h3> Formulaire de la page Legs et Donations</h3>
        <div class="wp-block-group container page-container has-gutter">
            <!-- wp:template-part {"slug":"legs-form","theme":"humanity-theme"} /-->
        </div>
        <!-- wp:pattern {"slug":"amnesty/page-content"} /-->
    </div>
    <div class="page-fondation">
        <h3> Formulaire de la page Fondation</h3>
        <div class="wp-block-group container page-container has-gutter">
        </div>
        <!-- wp:template-part {"slug":"foundation-form","theme":"humanity-theme"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
