<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"amnesty/petition-hero"} /-->
    <!-- wp:group {"tagName":"div","className":"container petition-container has-gutter","layout":{"type":"constrained"}} -->
    <div class="wp-block-group container petition-container has-gutter">
        <div class="petition-layout">
            <div class="petition-main">
                <!-- wp:pattern {"slug":"amnesty/petition-content"} /-->
            </div>
            <!-- wp:pattern {"slug":"amnesty/aside-petition-sticky"} /-->
        </div>
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
