<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group single-chronicle">
    <!-- wp:amnesty-core/hero-large {"titleFirstPart": "La chronique", "btnLinkText": "Abonnez-vous pour 3€/mois", "btnLink": "https://soutenir.amnesty.fr/b?cid=365&lang=fr_FR&reserved_originecode=null" } /-->
    <!-- wp:pattern {"slug":"amnesty/single-chronicle-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
