.page {
  flex: 1 1 100%;
  width: 100%;

  .wp-block-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 20px 55px 20px 55px;

    li {
      margin-left: 55px;
      line-height: 1.5rem;
    }

    & ::marker {
      color: var(--wp--preset--color--black);
      font-size: 1.5em;
    }
  }
}

.page-content
  .wp-block-post-content
  > *:not(.wp-block-amnesty-core-section-home, .hero-homepage, .articles-homepage) {
  padding: 0 24px;
}

@media (min-width: $container-hg) {
  .page-content {
    padding: 0;
  }
}

.page-container--report .page-content {
  padding-top: 30px;
  border-top: 1px solid var(--wp--preset--color--grey-lighter);
}

.page-title {
  margin-bottom: 0;
}
