.page-footer {
  margin-top: var(--wp--preset--spacing--single);

  .page-chip-categories {
    border-top: 1px solid var(--wp--preset--color--grey-lighter);
    border-bottom: 1px solid var(--wp--preset--color--grey-lighter);
  }
}
