.page-hero-block {
  width: 100%;
  position: relative;
  min-height: 315px;

  .page-figure {
    height: 315px;
    max-height: 315px;
    display: flex;
    align-items: center;
    background-color: var(--wp--preset--color--grey-lighter);
    text-align: center;
    margin-bottom: 0;

    img {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
    }

    .image-metadata {
      display: none;
    }
  }

  .yoast-breadcrumb-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .yoast-breadcrumb {
      padding: 16px 24px 10px 24px;
      color: var(--wp--preset--color--white);
      max-width: $container-hg;
      margin: 0 auto;

      @media (min-width: $container-hg) {
        padding-left: 0;
      }

      > span:first-of-type {
        display: flex;
        align-items: center;

        > span {
          display: inline-flex;
          align-items: center;
        }
      }

      span::before {
        vertical-align: middle;
      }

      span + span::before {
        flex: 0 0 auto;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 6px;
        background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z' fill='%23ffffff'/%3E%3C/svg%3E")
          no-repeat center;
        background-size: contain;
      }

      a {
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
        color: var(--wp--preset--color--white);

        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }

      & .breadcrumb_last {
        flex: 1 1 auto;
        display: inline;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }

  .page-hero-title-wrapper {
    position: absolute;
    top: 30%;
    width: 100%;

    .container {
      max-width: $container-md;
      margin: 0 auto;
      padding-left: 24px;

      @media (min-width: $container-hg) {
        padding-left: 0;
      }

      .page-hero-title {
        display: inline;
        margin-bottom: 0;
        width: fit-content;
        padding: 0 8px;
        font-size: 44px;
        box-decoration-break: clone;
        font-weight: bold;
        line-height: 58px;
        text-transform: uppercase;
        color: var(--wp--preset--color--primary);
        background-color: var(--wp--preset--color--black);
      }
    }
  }
}
