.page-hero-block {
  width: 100%;
  position: relative;
  min-height: 315px;

  .page-figure, .article-figure {
    height: 315px;
    max-height: 315px;
    display: flex;
    align-items: center;
    background-color: var(--wp--preset--color--grey-lighter);
    text-align: center;
    margin-bottom: 0;

    img {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
    }

    .image-metadata {
      display: none;
    }
  }

  .yoast-breadcrumb-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .yoast-breadcrumb {
      padding: 16px 24px 10px 24px;
      color: var(--wp--preset--color--white);
      max-width: $container-hg;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (min-width: $container-hg) {
        padding-left: 0;
      }

      > span:first-of-type {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
      }

      span > span {
        display: inline-flex;
        align-items: center;
      }

      span > span:not(.breadcrumb_last)::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 6px;
        background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z' fill='%23ffffff'/%3E%3C/svg%3E")
          no-repeat center;
        background-size: contain;
        vertical-align: middle;
      }

      a {
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
        color: var(--wp--preset--color--white);

        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }

      & .breadcrumb_last {
        display: inline;
        font-weight: bold;
        font-size: 13px;
        color: var(--wp--preset--color--white);
        white-space: normal;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }
  }

  .page-hero-title-wrapper {
    position: absolute;
    top: 30%;
    width: 100%;

    .container {
      max-width: $container-md;
      margin: 0 auto;
      padding-left: 24px;

      @media (min-width: $container-hg) {
        padding-left: 0;
      }

      .page-hero-title {
        display: inline;
        margin-bottom: 0;
        width: fit-content;
        padding: 0 8px;
        font-size: 44px;
        box-decoration-break: clone;
        font-weight: bold;
        line-height: 58px;
        text-transform: uppercase;
        color: var(--wp--preset--color--primary);
        background-color: var(--wp--preset--color--black);
      }
    }
  }

  &.page-hero-block--thin {
    min-height: 160px;

    .page-figure {
      height: 160px;
      max-height: 160px;
    }

    .page-hero-title-wrapper .container .page-hero-title {
      @include mq($until: small) {
        font-size: 1.7rem;
        line-height: 2.425rem;
      }
    }
  }

  &.page-hero-block--large {
    .page-hero-title-wrapper {
      top: 22%;

      .container {
        .page-hero-title {
          padding: 0;
          line-height: 2.625rem;
          text-transform: initial;
          background-color: transparent;

          &__first-part, &__last-part {
            background-color: var(--wp--preset--color--black);
            color: var(--wp--preset--color--primary);
          }

          &__first-part {
            display: inline-block;
            padding: 0 .3rem;
            margin-bottom: .4rem;
            font-size: 2.7rem;
            line-height: 1;
            font-weight: lighter;
            font-family: var(--wp--preset--font-family--primary);

            @media (min-width: $container-lg) {
              font-size: 3.2rem;
              line-height: 3.7rem;
            }
          }

          &__last-part {
            display: inline-block;
            font-size: 2rem;
            line-height: 33px;
            padding: 6px 8px;
            margin-bottom: 0;
            font-weight: bold;
            font-family: var(--wp--preset--font-family--secondary);

            @media (min-width: $container-lg) {
              font-size: 2.575rem;
              line-height: 2.1rem;
              padding: .5rem;
            }
          }
        }
      }
    }

    .page-figure, .article-figure {
      min-height: 315px;
    }

    .custom-button-block {
      margin-top: 2.2rem;

      .custom-button .content.large .icon-container svg {
        position: relative;
        top: 0.1rem;
        stroke-width: 2;
      }
    }

    @media (min-width: $container-lg) {
      .page-figure, .article-figure {
        min-height: 420px;
      }

      .custom-button-block {
        margin-top: 3.7rem;
      }

      .yoast-breadcrumb {
        padding-left: 0;
        margin: 0 0 0 80px;
      }

      .page-hero-title-wrapper {
        top: 24%;

        .container {
          margin: 0 0 0 80px;

          .page-hero-title {
            line-height: 3.625rem;

            &__title {
              font-size: 2.8rem;
            }
          }
        }
      }
    }
  }
}
