.slider-block {
  width: 100%;
  overflow: hidden;

  .category-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    padding: 20px 0 12px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--wp--preset--font-family--secondary);
    line-height: 19px;

    .icon-container {
      width: 20px;
      height: 20px;

      .icon {
        width: 100%;
        height: 100%;
      }
    }

    .cat-link {
      cursor: pointer;
      text-decoration: none;
      font-family: var(--wp--preset--font-family--secondary);
      font-size: 18px;
      font-weight: bold;
      line-height: 19px;

      &:hover {
        color: var(--wp--preset--color--black);
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  .slider-block-wrapper {
    position: relative;

    .swiper {
      overflow: visible;

      .swiper-wrapper {
        padding-bottom: 35px;

        .swiper-slide {
          height: auto;
          display: flex;

          .article-card {
            width: 100%;
            height: 100%;
            margin-bottom: 0;

            &.card-portrait {
              min-height: 450px;
              max-width: none;
            }
          }
        }
      }

      .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
          background-color: transparent;
          border: 1px solid var(--wp--preset--color--black);
          opacity: 1;
        }

        .swiper-pagination-bullet-active {
          background-color: var(--wp--preset--color--black);
        }
      }
    }

    .slider-nav {
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-color: var(--wp--preset--color--primary);
      transition: background-color 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      z-index: 10;

      &:hover {
        background-color: var(--wp--preset--color--primary-dark);
      }

      &.prev {
        transform: translateY(-50%) rotate(180deg);
        left: 0;

        @media (min-width: 1681px) {
          left: -48px;
        }
      }

      &.next {
        transform: translateY(-50%);
        right: 0;

        @media (min-width: 1681px) {
          right: -48px;
        }
      }
    }
  }
}
