.jetpack-instant-search__search-results-wrapper {
  border-radius: 0 !important;
}

.jetpack-instant-search__search-results-controls {
  border-bottom: 1px solid var(--wp--preset--color--grey-light) !important;
  padding: 8px 24px 8px 44px !important;
  display: flex !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 10 !important;
  background: var(--wp--preset--color--white) !important;
}

.jetpack-instant-search__search-form-controls
  .jetpack-instant-search__search-sort
  button.jetpack-instant-search__search-sort-option.is-selected {
  color: var(--wp--preset--color--grey) !important;
}

.jetpack-instant-search__path-breadcrumb {
  display: none !important;
}

.jetpack-instant-search__search-result-expanded__path {
  display: none !important;
}

.jetpack-instant-search__search-results-secondary {
  background-color: var(--wp--preset--color--grey-lighter) !important;
}

.jetpack-instant-search__search-result-title .jetpack-instant-search__search-result-title-link {
  font-size: 22px !important;
  font-family: var(--wp--preset--font-family--secondary) !important;
  color: var(--wp--preset--color--black) !important;
  margin-bottom: 12px !important;

  &:hover {
    width: fit-content !important;
    text-decoration: underline !important;
    background-color: transparent !important;
    color: var(--wp--preset--color--black) !important;
  }
}

.jetpack-instant-search__search-result-title-link
  .jetpack-instant-search__search-result-expanded__title-link {
  font-size: 22px !important;
  font-family: var(--wp--preset--font-family--secondary) !important;
  color: var(--wp--preset--color--black) !important;

  &:hover {
    width: fit-content !important;
    text-decoration: underline !important;
    background-color: transparent !important;
    color: var(--wp--preset--color--black) !important;
  }
}

.jetpack-instant-search__box input[type='search'].jetpack-instant-search__box-input {
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  margin-left: -50px !important;
  margin-right: 5px !important;
  outline: thin dotted var(--wp--preset--color--grey-light) !important;
  outline-offset: inherit !important;
  padding-left: 60px !important;
  height: 46px !important;
  width: 100% !important;

  @media (min-width: $container-lg) {
    width: calc(100% - 274px) !important;
  }
}

.jetpack-instant-search__search-result {
  margin: 0 !important;
  padding: 36px 0 24px 0 !important;
  border-bottom: 1px solid var(--wp--preset--color--grey-light) !important;
}

button.jetpack-instant-search__overlay-close {
  background-color: var(--wp--preset--color--black) !important;
}

button.jetpack-instant-search__overlay-close svg.gridicon {
  fill: var(--wp--preset--color--primary) !important;
}

.jetpack-instant-search a {
  height: fit-content !important;
}

.jetpack-instant-search__scroll-button {
  padding: 12px 8px !important;
  text-transform: uppercase !important;
  border: 1px solid var(--wp--preset--color--black) !important;
  font-family: var(--wp--preset--font-family--secondary) !important;
}

.jetpack-instant-search__search-results
  .jetpack-instant-search__search-results-pagination
  button.jetpack-instant-search__scroll-button {
  color: var(--wp--preset--color--black) !important;
}
