.page-change-their-history {
  & > .page-hero-block {
    & > .wp-block-group.is-layout-flow.wp-block-group-is-layout-flow {
      & > .wp-block-image.container--full-width.page-figure.is-stretched {
        & > img {
          object-position: center top;
        }
      }
    }
  }

  .page-change-their-history-layout {
    display: flex;
    gap: 24px;
    max-width: $container-hg;
    margin-inline: auto;

    @media (max-width: $container-lg) {
      flex-direction: column;
    }

    @media (min-width: $container-lg) {
      gap: 100px;
    }

    .page-content {
    padding-top: 0;

    &.no-chapo {
      > :first-child {
        margin-top: 24px;

        .wp-block-heading {
          margin-top: 0;
        }
      }
    }

    .download-go-further-block,
    .get-informed-block,
    .read-also-block,
    p:not(
      .wp-block-amnesty-core-chapo p,
      .wp-block-amnesty-core-section.small p,
      .wp-block-amnesty-core-section.large p,
      .download-go-further-block p,
      .call-to-action-block p,
      .wp-block-amnesty-core-section-home p,
      .wp-block-jetpack-contact-form-container p,
      .interactive-map p,
      .wp-block-amnesty-core-card-image-text p,
      .petition-card-change-their-history p
    ),
    .wp-block-columns,
    .wp-block-details,
    .wp-block-heading,
    .wp-block-list,
    .wp-block-amnesty-core-action,
    .wp-block-amnesty-core-quote-block,
    .wp-block-amnesty-core-image,
    .wp-block-amnesty-core-section.small,
    .wp-block-html,
    .video-block,
    .card-image-text-block,
    .read-more-block,
    .slider-block,
    .wp-block-jetpack-contact-form-container {
      max-width: $container-md;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-image,
    .image-block {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }

    .custom-button-block {
      max-width: $container-md;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    .call-to-action-block {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-amnesty-core-chapo {
      .text {
        @media (min-width: $container-lg) {
          width: 50%;
          margin-left: 20%;
        }
      }
    }

    .interactive-map {
      max-width: $container-hg;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-block {
      .swiper-slide {
        max-width: $container-sm;
      }
    }
  }
  }

  .page-hero-block {
    .page-hero-title-wrapper {
      .container {
        max-width: $container-hg;

        .page-hero-title {
          color: var(--wp--preset--color--black);
          background-color: var(--wp--preset--color--primary);
        }
      }
    }
  }
}
