.page-chronicle-promo {
  position: relative;
  margin-bottom: 3.7rem;

  .page-hero-block--large figcaption {
    display: none;

    .page-hero-title-wrapper .container {
      .page-hero-title {
        &__first-part {
          font-family: var(--wp--preset--font-family--secondary);
          font-weight: bold;
        }
      }
    }
  }

  .chapo {
    margin-bottom: 2.2rem;
  }

  @media (min-width: $container-sm) {
    .chapo {
      width: 46.5rem;
      margin-bottom: 3.5rem;
      padding: 0;

      .text {
        width: 28.5rem;
        margin-left: 0;
      }
    }
  }

  &__video-container {
    margin-top: 2.2rem;
    padding: 53% 0 0 0;
    width: 95%;
  }

  .page-container .custom-button-block {
    margin-top: 1.4rem;
    width: 19.8rem;
    height: 3.4rem;
    justify-content: center;
  }

  @media (min-width: $container-sm) {
    &__video-container {
      margin-top: 3.4rem;
      padding: 17.5% 0 0 0;
      width: 34.5rem;
      height: 19.5rem;
    }
  }

  .chronicle-promo-container {
    display: none;
  }

  .cover-image {
    justify-self: center;
  }

  @media (min-width: $container-lg) {
    .chronicle-promo-container {
      display: block;
      position: absolute;
      top: 16rem;
      z-index: 5;
      width: 100%;

      .chronicle-promo__open-magazine {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        width: 64.5rem;

        .open-magazine {
          width: 25rem;

          img {
            max-width: 100%;
            width: 100%;
            vertical-align: middle;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media (min-width: $container-hg) {
    .chronicle-promo-container {
      top: 14.5rem;

      .chronicle-promo__open-magazine {
        width: 70.2rem;

        .open-magazine {
          width: 27.9rem;
        }
      }
    }
  }

  .single-chronicle__content {
    margin-top: 1.3rem;
    margin-bottom: 2rem;

    @media (min-width: $container-sm) {
      margin-top: 4.2rem;
    }
  }

  .related-posts-block {
    margin-bottom: .6rem;
    padding: 1rem 0 1rem 0;

    @media (min-width: $container-lg) {
      padding: 30px 0 56px 0;
    }

    .content {
      .title {
        padding: .5rem .7rem !important;
        margin-bottom: 2.5rem !important;

        @media (min-width: $container-lg) {
          padding: 3px 10px 2px 10px !important;
        }
      }

      .list .article-date {
        align-self: center;

        @media (min-width: $container-lg) {
          align-self: self-start;
        }
      }
    }
  }
}
