.page-standard {
  .page-hero-block.no-featured-image {
    min-height: auto;
    display: flex;
    flex-direction: column;

    .yoast-breadcrumb-wrapper {
      .yoast-breadcrumb {
        span > span:not(.breadcrumb_last)::after {
          background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z' fill='%23575756'/%3E%3C/svg%3E")
            no-repeat center;
        }

        a {
          color: var(--wp--preset--color--black);
        }

        & .breadcrumb_last {
          color: var(--wp--preset--color--black);
        }
      }
    }

    .page-hero-title-wrapper {
      width: 100%;
      position: relative;

      .container {
        max-width: $container-sm;
        margin-top: 70px;
        margin-bottom: 55px;
        padding-left: 0;
        display: flex;
        justify-content: center;
      }
    }

    .chapo-wrapper {
      position: relative;
      width: 100%;

      .wp-block-amnesty-core-chapo {
        max-width: $container-md;
        margin: 0 auto;
        padding: 0;

        .text {
          width: 75%;
          padding-top: 0;
          margin-left: 0;
        }
      }
    }

    &.nos-combats-hero {
      background-color: var(--wp--preset--color--black);

      .yoast-breadcrumb-wrapper .yoast-breadcrumb {
        a {
          color: var(--wp--preset--color--white);
        }

        & .breadcrumb_last {
          color: var(--wp--preset--color--white);
        }
      }

      .page-hero-title-wrapper .container {
        max-width: $container-lg;
        display: block;
        margin-bottom: 20px;

        .page-hero-title {
          background-color: var(--wp--preset--color--primary);
          color: var(--wp--preset--color--black);
        }
      }

      .chapo-wrapper .wp-block-amnesty-core-chapo {
        max-width: $container-lg;

        .text {
          padding-top: 24px;
          margin-bottom: 50px;
          color: var(--wp--preset--color--white);
        }
      }
    }
  }

  .homepage .page-content.no-chapo > :first-child {
    margin-top: 0;
  }

  .page-hero-block.no-featured-image:not(.nos-combats-hero) + .container {
    .page-content {
      > :first-child {
        margin-top: 0;

        > :first-child:not(h2) {
          margin-top: 40px;
        }
      }

      h2:first-of-type {
        margin-top: 60px;

        &::before {
          display: none;
        }
      }
    }
  }

  .page-content {
    padding-top: 0;

    &.no-chapo {
      > :first-child {
        margin-top: 24px;

        .wp-block-heading {
          margin-top: 0;
        }
      }
    }

    .download-go-further-block,
    .get-informed-block,
    .read-also-block,
    p:not(
      .wp-block-amnesty-core-chapo p,
      .wp-block-amnesty-core-section.small p,
      .wp-block-amnesty-core-section.large p,
      .download-go-further-block p,
      .call-to-action-block p,
      .wp-block-amnesty-core-section-home p,
      .wp-block-jetpack-contact-form-container p,
      .interactive-map p,
      .wp-block-amnesty-core-card-image-text p
    ),
    .wp-block-columns,
    .wp-block-details,
    .wp-block-heading,
    .wp-block-list,
    .wp-block-amnesty-core-action,
    .wp-block-amnesty-core-quote-block,
    .wp-block-amnesty-core-image,
    .wp-block-amnesty-core-section.small,
    .wp-block-html,
    .video-block,
    .card-image-text-block,
    .read-more-block,
    .slider-block,
    .wp-block-jetpack-contact-form-container {
      max-width: $container-md;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-image,
    .image-block {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }

    .custom-button-block {
      max-width: $container-md;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    .call-to-action-block {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-amnesty-core-chapo {
      .text {
        @media (min-width: $container-lg) {
          width: 50%;
          margin-left: 20%;
        }
      }
    }

    .interactive-map {
      max-width: $container-hg;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-block {
      .swiper-slide {
        max-width: $container-sm;
      }
    }
  }

  .article-meta {
    max-width: $container-md;
  }
}
