.wp-block-columns {
  gap: var(--wp--preset--spacing--single);
  align-items: stretch;
  padding: 0 24px;

  @media (min-width: $container-sm) {
    padding: 0;
  }
}

.wp-block-column {
  display: flex;
  flex-direction: column;
}
