.wp-block-columns {
  gap: var(--wp--preset--spacing--single);
  align-items: stretch;
  padding: 0 24px;

  @media (min-width: $container-sm) {
    padding: 0;
    max-width: min(1040px, 90%) !important;
    margin-left: auto !important ;
    margin-right: auto !important ;
  }
}

.wp-block-column {
  display: flex;
  flex-direction: column;
}
