<!-- wp:pattern {"slug":"amnesty/post-hero"} /-->

<!-- wp:group {"tagName":"main","className":"max-container"} -->
<main class="wp-block-group max-container">
    <!-- wp:group {"tagName":"div","className":"has-gutter-single"} -->
    <div class="wp-block-group has-gutter-single">
        <!-- wp:group {"tagName":"div","className":"article-container"} -->
        <div class="wp-block-group article-container">
            <!-- wp:pattern {"slug":"amnesty/post-content"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
