.change-their-history-toc-block {
  background-color: var(--wp--preset--color--grey-lightest);
  padding: 44px 0;


  &.is-empty {
    display: none;
  }

  .change-their-history-toc-list {
    padding: 0 50px 0 50px;
    display: flex;
    gap: 150px;
    margin: 0;
    list-style: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid var(--wp--preset--color--black);

    @media (min-width: $container-md) {
      padding: 0 150px 0 150px;
    }

    li {
      flex: 0 0 auto;
      padding-bottom: 24px;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid var(--wp--preset--color--black);
      }
    }

    a {
      text-decoration: none;
      height: 100%;
      font-size: 26px;
      font-family: var(--wp--preset--font-family--secondary);
      font-weight: bold;
      line-height: 29px;

      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
