.carousel-block {
  position: relative;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 24px;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    width: 650px;
    display: flex;
    flex-direction: column;

    @media (min-width: $container-hg) {
      width: 750px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-image {
    position: relative;
    width: 100%;
    height: 300px;

    @media (min-width: $container-sm) {
      height: 500px;
    }
  }

  .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    color: var(--wp--preset--color--white);
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: right;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.00) 100%);
    border-bottom: 6px solid var(--wp--preset--color--primary);
    box-sizing: border-box;
  }

  .carousel-caption-text {
    display: block;
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .swiper-slide-active .carousel-caption-text {
    opacity: 1;
    transform: translateY(0);
  }

  .carousel-description {
    padding: 16px 0;
  }

  .carousel-description-text {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: var(--wp--preset--color--grey-dark);
  }

  .swiper-slide-active .carousel-description-text {
    opacity: 1;
  }

  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 0.5rem;
    cursor: pointer;

    &.prev {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      left: 0;
      background-color: var(--wp--preset--color--white);
    }

    &.next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      right: 0;
      background-color: var(--wp--preset--color--white);
    }

    &.swiper-button-disabled {
      cursor: auto;
      color: var(--wp--preset--color--grey-light);
    }
  }
}
