.training-card {
  display: flex;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: var(--wp--preset--color--white);
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: var(--wp--preset--spacing--single);
  flex-direction: column;
  min-height: 380px;
  max-width: 400px;

  &:hover {
    .training-card-thumbnail img {
      transform: scale(1.1);
    }
  }

  &.bg-yellow {
    background-color: var(--wp--preset--color--primary);
  }

  & > .chip-category {
    width: fit-content;
    position: absolute;
    left: -8px;
    top: 12px;
  }

  .training-card-thumbnail {
    width: 100%;
    height: 205px;
    border-bottom: 4px solid var(--wp--preset--color--primary);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.7s;
    }

    .training-card-thumbnail-placeholder {
      width: 100%;
      height: 100%;
      background-color: var(--wp--preset--color--grey-light);
    }
  }

  .training-card-content {
    padding-top: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    .training-date {
      padding: 0 12px;
      font-family: var(--wp--preset--font-family--secondary), serif;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--wp--preset--color--grey-dark);
      margin: 0;
    }

    .training-description {
      padding: 0 12px;
      margin: 0;
      flex: 1;

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: var(--wp--preset--color--black);
        margin-bottom: 0;
      }
    }

    .training-card-badge {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-bottom: 6px;

      .training-card-badge-icon {
        color: var(--wp--preset--color--grey-dark);
      }

      .training-card-badge-label {
        color: var(--wp--preset--color--grey-dark);
        font-family: var(--wp--preset--font-family--secondary);
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
      }
    }

    .training-card-title-link {
      padding: 0 12px;
      text-decoration: none;

      &:hover {
        background: none;
        text-decoration: none;
      }

      .training-card-title {
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
        font-family: var(--wp--preset--font-family--secondary);
        margin: 0;
        flex: 1;
      }
    }

    a .training-card-title {
      text-decoration: none;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    .training-card-date-location {
      color: var(--wp--preset--color--grey-dark);
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }

    .training-term {
      padding: 8px 12px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      &.member-only {
        background-color: var(--wp--preset--color--primary);
      }

      &:not(.is-empty) {
        border-top: 1px solid var(--wp--preset--color--grey-light);
      }

      .capitalize-place {
        text-transform: capitalize;
      }
    }
  }
}
