.container--feature + .article-container {
  padding-top: 0;
}

.article-figure {
  img {
    max-width: 100%;
    height: 540px !important;
    object-fit: cover;
  }

  .image-metadata {
    display: none;
  }
}

.wp-block-image {
  position: relative;
}

.feature-image {
  max-width: $container-lg;
  margin: 0 auto;
  position: relative;

  .feature-image-caption-block {
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--wp--preset--color--black);
    color: var(--wp--preset--color--white);
    padding: 12px;

    @media (min-width: 768px) {
      position: absolute;
      width: 30%;
      transform: translateY(-24px);
    }

    .feature-image-description {
      text-align: left;
      color: var(--wp--preset--color--grey);
      font-weight: lighter;
      line-height: 16px;
      font-size: 12px;
    }

    .feature-image-caption {
      text-align: left;
      color: var(--wp--preset--color--white);
      font-weight: bold;
      line-height: 12px;
      font-size: 12px;
    }
  }
}
