.article-header .article-header-block {
  display: inline-block;
  padding: 16px;
  margin-bottom: 32px;
  background: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.article-header .article-header-block h1 {
  color: var(--wp--preset--color--white);
  text-transform: uppercase;
}

.article-header .article-term {
  font-size: var(--wp--preset--font-size--small);
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--secondary);
}

.article-header.is-narrow,
.article-content.is-narrow {
  padding-right: 60px;

  .rtl & {
    padding-right: 0;
    padding-left: 60px;
  }
}

.article-header {
  .yoast-breadcrumb-wrapper {
    width: 100%;

    .yoast-breadcrumb {
      padding: 16px 24px 10px 24px;
      color: var(--wp--preset--color--grey-dark);
      max-width: $container-hg;
      margin: 0 auto;

      @media (min-width: $container-hg) {
        padding-left: 0;
      }

      > span:first-of-type {
        display: flex;
        align-items: center;

        > span {
          display: inline-flex;
          align-items: center;
        }
      }

      span::before {
        vertical-align: middle;
      }

      span + span::before {
        flex: 0 0 auto;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 6px;
        background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78132 7.99999L5.48132 4.69999L6.42399 3.75732L10.6667 7.99999L6.42399 12.2427L5.48132 11.3L8.78132 7.99999Z' fill='%23575756'/%3E%3C/svg%3E")
          no-repeat center;
        background-size: contain;
      }

      a {
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
        color: var(--wp--preset--color--grey-dark);

        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }

      & .breadcrumb_last {
        flex: 1 1 auto;
        display: inline;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
