@import "./categories";
@import "./header";
@import "./pagination";
@import "./post";
@import "./post-search";

.postlist {
  display: flex;
  max-width: $container-lg;
  margin: 12px auto;

  @include mq($until: medium-sm) {
    flex-wrap: wrap;
  }
}
