.article.actualite {
  .article-content {
    p:not(.wp-block-amnesty-core-chapo p),
    .wp-block-columns,
    .wp-block-heading,
    .wp-block-image,
    .wp-block-amnesty-core-action,
    .wp-block-amnesty-core-blockquote,
    .wp-block-amnesty-core-button,
    .wp-block-amnesty-core-image,
    .wp-block-amnesty-core-get-informed .content,
    .wp-block-amnesty-core-read-also,
    .wp-block-amnesty-core-small-section {
      max-width: $container-sm;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-amnesty-core-chapo {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
