.article.fiche_pays {
  .article-meta {
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  .article-content {
    .custom-button-block,
    .download-go-further-block,
    .get-informed-block,
    .image-block,
    .read-also-block,
    p:not(
        .wp-block-amnesty-core-chapo p,
        .wp-block-amnesty-core-section.small p,
        .wp-block-amnesty-core-section.large p,
        .download-go-further-block p,
        .call-to-action-block p
      ),
    .wp-block-columns,
    .wp-block-details,
    .wp-block-heading,
    .wp-block-image,
    .wp-block-list,
    .wp-block-amnesty-core-action,
    .wp-block-amnesty-core-quote-block,
    .wp-block-amnesty-core-image,
    .wp-block-amnesty-core-section.small {
      max-width: $container-sm;
      margin-left: auto;
      margin-right: auto;
    }

    .call-to-action-block,
    .wp-block-amnesty-core-chapo {
      max-width: $container-lg;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-block {
      .swiper-slide {
        max-width: $container-sm;
      }
    }
  }
}
