.single-chronicle {
  padding-bottom: 3rem;

  .feature-image {
    display: none;
  }

  .page-hero-block.page-hero-block--large {
    .article-figure {
      min-height: 19rem;

      @media (min-width: $container-lg) {
        min-height: 21.6rem;
      }
    }

    .page-hero-title-wrapper .container {
      .page-hero-title {
        &__first-part {
          font-family: var(--wp--preset--font-family--secondary);
          font-weight: bold;
        }
      }
    }
  }

  &__content {
    margin: 2rem 0 1rem 0;
    width: 90%;

    @media (min-width: $container-lg) {
      display: flex;
      align-items: flex-start;
      gap: 4.3rem;
      margin: 5rem 0 6.7rem 0;
      width: 890px;
    }

    &__aside, &__summary {
      flex-direction: column;
    }

    &__aside {
      margin-bottom: 2.5rem;

      @media (min-width: $container-lg) {
        margin-bottom: 0;
      }

      &.u-sticky {
        @media (min-width: $container-lg) {
            top: 8rem;
        }
      }

      figure {
        margin: 0 auto 1.7rem auto;
        width: 273px;
        height: 369px;

        @media (min-width: $container-lg) {
          margin-bottom: 1.4rem;
        }

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
        }
      }

      .custom-button-block {
        &:first-of-type {
          margin-bottom: 1.2rem;

          .custom-button .content.medium {
            padding: .5rem 1.8rem;
            font-size: 1rem;
          }
        }

        &:last-of-type {
          .custom-button .content.small {
            padding: .3rem 1.2rem;
          }
        }
      }
    }

    &__summary {
      flex: 1;

      .chip {
        margin-bottom: .5rem;
      }

      h2 {
        margin-bottom: 2rem;
        font-size: 2.1rem;
      }

      .rubric-heading {
        margin-bottom: 1.1rem;

        ~ p {
          margin-bottom: .7rem;
        }
      }

      p:has(+ .rubric-heading),
      p:last-child {
        margin-bottom: 2.5rem;
      }
    }
  }

  .related-posts-block {
    margin: 1rem 0 1rem 0;

    @media (min-width: $container-lg) {
      margin: 0 0 .8rem 0;
    }

    .content {
      .title {
        padding: .5rem .7rem !important;
        margin-bottom: 2.5rem !important;

        @media (min-width: $container-lg) {
          padding: 3px 10px 2px 10px !important;
        }
      }

      .list .article-date {
        align-self: center;

        @media (min-width: $container-lg) {
          align-self: self-start;
        }
      }
    }
  }
}
