.single-chronicle {
  padding-bottom: 3rem;

  .page-hero-block.page-hero-block--large .article-figure {
    min-height: 19rem;

    @media (min-width: $container-lg) {
        min-height: 21.6rem;
    }
  }

  &__content {
    margin: 2rem 0 1rem 0;
    width: 90%;

    @media (min-width: $container-lg) {
      display: flex;
      align-items: flex-start;
      gap: 4.3rem;
      margin: 5rem 0 8rem 0;
      width: 54%;
    }

    &__aside, &__summary {
      flex-direction: column;
    }

    &__aside {
      margin-bottom: 2.5rem;

      @media (min-width: $container-lg) {
        margin-bottom: 0;
      }

      &.u-sticky {
        @media (min-width: $container-lg) {
            top: 8rem;
        }
      }

      figure {
        margin-bottom: 1.1rem;
        width: 273px;
        height: 369px;

        img {
          max-width: 100%;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
        }
      }

      .custom-button-block {
        &:first-of-type {
          margin-bottom: .6rem;

          .custom-button .content.medium {
            padding: .5rem 1.8rem;
            font-size: 1rem;
          }
        }

        &:last-of-type {
          .custom-button .content.small {
            padding: .3rem 1.2rem;
          }
        }
      }
    }

    &__summary {
      .chip {
        margin-bottom: .5rem;
      }

      h2 {
        margin-bottom: 2rem;
      }

      p:has(> strong:only-child) {
        margin-top: 0;
        margin-bottom: 0;
      }

      p:has(> strong:only-child) + p:has(> strong:only-child)::after {
        content: '';
        display: block;
        margin-top: 1rem;
        margin-bottom: .7rem;
        width: 3.3rem;
        height: .3rem;
        background-color: var(--wp--preset--color--primary);
      }
    }
  }

  .related-posts-block {
    margin-bottom: .6rem;
    padding: 1rem 0 1rem 0;

    @media (min-width: $container-lg) {
      padding: 30px 0 56px 0;
    }

    .content {
      .title {
        padding: .5rem .7rem !important;
        margin-bottom: 2rem !important;

        @media (min-width: $container-lg) {
          padding: 10px 12px 8px 10px !important;
        }
      }

      .list .article-date {
        align-self: center;

        @media (min-width: $container-lg) {
          align-self: self-start;
        }
      }
    }
  }
}
